.item-img {
    width: 140px;
}

.item-img img {
    width: 140px;
}

.table-title {
    font-family: 'Source Code Pro', monospace !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #FF8125;
}

th {
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

td {
    padding-top: 30px;
}

.item-name,
.item-quantity,
.item-price {
    font-family: 'Source Code Pro', monospace !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #171717;
}

.table-cart {
    width: 100%;
    margin-top: 150px;
}

.item-quantity,
.item-price {
    text-align: center;
    width: 177px;
}

.checkout-btn {
    background: #FF8125;
    border-radius: 10px;
    width: 177px;
    margin-left: 963px;
    margin-bottom: 150px;
    height: 70px;
    border: none;
}

.checkout-btn p {
    font-family: 'Source Code Pro', monospace !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
}