.types {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.search-filter {
    display: flex;
    justify-content: space-around;
}

.form1 {
    margin-top: 90px;
}

.label1 {
    font-family: 'Source Code Pro', monospace !important;
    font-style: normal;
    font-weight: normal;
    margin-left: 75px;
    font-size: 26px;
    line-height: 41px;
    /* identical to box height */
    color: #171717;
}

.search1 {
    margin-left: 25px;
    font-size: 26px;
}

.filter1 {
    margin-left: 410px;
    font-size: 26px;
}

input {
    height: 30px;
    width: 450px;
    border: none;
    border-bottom: 2px solid #171717;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    align-content: center;
}

.input {
    display: flex;
    margin-left: 75px;
}

.form1 {
    width: 100%;
}

.keycaps,
.switches,
.deskmat,
.keyboard {
    font-family: 'Source Code Pro', monospace !important;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
    text-decoration: none;
    color: #ff8125;
}

.keyboard {
    /*font-weight: bold;*/
}

.item-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-container .items h2 {
    font-family: 'Source Code Pro', monospace !important;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 33px;
    text-align: center;
    color: #ff8125;
    margin-top: -40px;
}

.item-container .items p {
    font-family: 'Source Code Pro', monospace !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #171717;
}

.item-link {
    text-decoration: none;
}

.items {
    padding-left: 25px;
    padding-bottom: 30px;
    width: 33%;
}

.items img {
    width: 359px;
    height: 220px
}

.titles {
    margin-top: 50px;
}