* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Navigator */

.nav-container {
    height: 225px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 16px;
    margin: auto;
}

.wrapper {
    max-width: 1140px;
}

nav ul {
    display: flex;
    list-style: none;
}

.nav1 {
    padding-top: 45.5px;
    display: flex;
    align-items: center;
}

.nav-item1 li {
    margin-left: 597.36px;
}

.nav2 {
    padding-top: 45.8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item2 li a {
    margin-right: 48px;
    font-family: "Saira", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #ecedf6;
}

.nav-item2 li:nth-last-of-type(1) {
    margin-right: -40px;
}

.section1 {
    margin: auto;
    background-color: #171717;
}

.types {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.search-filter {
    display: flex;
    justify-content: space-around;
}

.form1 {
    margin-top: 90px;
}

.label1 {
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    margin-left: 75px;
    font-size: 26px;
    line-height: 41px;
    /* identical to box height */
    color: #171717;
}

.search1 {
    margin-left: 25px;
    font-size: 26px;
}

.filter1 {
    margin-left: 410px;
    font-size: 26px;
}

input {
    height: 30px;
    width: 450px;
    border: none;
    border-bottom: 2px solid #171717;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    align-content: center;
}

.input {
    display: flex;
    margin-left: 75px;
}

.form1 {
    width: 100%;
}

.keycaps,
.switches,
.deskmat,
.keyboard {
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
    text-decoration: none;
    color: #ff8125;
}

.keyboard {
    font-weight: bold;
}

.item-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.item-container .items h2 {
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 33px;
    text-align: center;
    color: #ff8125;
    margin-top: -40px;
}

.item-container .items p {
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #171717;
}

.item-link {
    text-decoration: none;
}

.footer {
    margin-top: 150px;
    width: auto;
    height: 236px;
    left: 0px;
    top: 3869px;
    background: #171717;
}

.footer .wrapper {
    display: flex;
}

.footer-left {
    width: 50%;
    height: 236px;
    padding-top: 50px;
}

.social-icon {
    margin-right: 85px;
}

.footer-right {
    width: 50%;
    height: 236px;
    padding-top: 50px;
}

.footer-right p:nth-last-of-type(3) {
    font-family: Saira;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #ff8125;
}

.footer-right p {
    font-family: Saira;
    font-style: normal;
    font-weight: thin;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}

.copyright {
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: underline;
    text-align: center;
    color: #e4e4e4;
    margin-top: -40px;
}

.items {
    padding-left: 25px;
}

.items img {
    width: 529px;
    height: 326px;
}

.titles {
    margin-top: 50px;
}